<%- include('../include/header.ejs') %>
    <div class="container">
        <h2><a href="/main"><img style="width: 35px;" src="https://cdn-icons-png.flaticon.com/512/25/25694.png"></a>
            Thêm loại sản phẩm</h2>

        <form action="/postloaisp" method="post" enctype="multipart/form-data">
            <form class="px-4 py-3">

                <br>
                <label class="form-label">Tên loại</label>
                <input type="text" name="name" class="form-control"><br>
                <button class="btn btn-danger" type="submit">Lưu</button>
                <%= msg%>
            </form>
        </form>

    </div>