<!DOCTYPE html>
<html>

<head>
    <title>BẢO MINH STORE</title>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="nXHafPjzQbcCTlbBFFc2qAA5CB95CzOEyv7uDEGgbpk" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="Giới Thiệu" content="">
    <link rel="shortcut icon" type="x-icon" href="/images/banner-image1.png">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <!-- script
    ================================================== -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W4P4TDHPNZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-W4P4TDHPNZ');
    </script>
    <style>
        @media only screen and (max-width: 700px) {
            .section {
                width: 90%;
                padding-top: 22%;
                padding-left: 1%;
                padding-right: 1%;
                background-color: rgb(245, 247, 249);
                margin-right: 5%;
                margin-left: 6%;
                border-radius: 5px;
                margin-bottom: 1%
            }
            .section1 {
                width: 90%;
                padding-top: 5%;
                padding-left: 1%;
                padding-right: 1%;
                background-color: rgb(245, 247, 249);
                margin-right: 5%;
                margin-left: 6%;
                border-radius: 5px;
                margin-bottom: 1%
            }
            body {
                font-family: "Roboto", sans-serif;
                background-color: rgb(11, 10, 10);
            }
            .product-preview {
                align-items: center;
                justify-content: center;
            }
            .sanpham {
                width: 45%;
                height: 45%;
            }
            #subscribe {
                margin-left: 2%;
                margin-bottom: 1%;
            }
            #footer {
                background-color: aliceblue;
                color: black;
            }
            #footer-bottom {
                background-color: aliceblue;
                color: black;
            }
            #img-fluid {
                height: 200px;
            }
        }
        
        @media only screen and (min-width: 701px) {
            .section {
                width: 90%;
                padding-top: 2%;
                padding-left: 1%;
                padding-right: 1%;
                background-color: rgb(245, 247, 249);
                margin-right: 5%;
                margin-left: 6%;
                border-radius: 5px;
                margin-bottom: 1%
            }
            .section1 {
                width: 30%;
                padding-top: 5%;
                padding-left: 1%;
                padding-right: 1%;
                background-color: rgb(245, 247, 249);
                margin-right: 5%;
                margin-left: 6%;
                border-radius: 5px;
                margin-bottom: 1%
            }
            body {
                font-family: "Roboto", sans-serif;
                background-color: rgb(255, 255, 255)
            }
            .product-preview {
                align-items: center;
                justify-content: center;
            }
            .sanpham {
                width: 50%;
                height: 50%;
            }
            #subscribe {
                margin-left: 2%;
                margin-bottom: 1%;
            }
            #footer {
                background-color: aliceblue;
                color: black;
                padding-top: 3%;
            }
            #footer-bottom {
                background-color: aliceblue;
                color: black;
            }
            #img-fluid {
                height: 200px;
            }
            .card-image {
                height: 200px;
            }
        }
    </style>
</head>

<body>
    <% flattenedListBl.forEach((row)=> { %>
        <section id="latest-blog" class="section">
            <h1>
                <%= row.tentheloai %>
            </h1>
            <div class="container">
                <div class="row">
                    <div class="post-grid d-flex flex-wrap justify-content-between">
                        <% row.blog.forEach((item)=> { %>
                            <div class="col-lg-4 col-sm-12">
                                <div class="card border-none me-3">
                                    <div class="card-image text-center overflow-hidden">
                                        <img src="<%= item.img_blog %>" alt="product-item" id="img-fluid">
                                    </div>
                                </div>
                                <div class="card-body text-uppercase" style="word-wrap: break-word">
                                    <h3 class="card-title">
                                        <a href="/contentBlog/<%= encodeURIComponent(item.tieude_khongdau).replace(/%20/g, '-')%>">
                                            <%= item.tieude_blog %>
                                        </a>
                                    </h3>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>
        </section>
        <% }); %>

            <section id="subscribe" class="container-grid position-relative overflow-hidden">
                <div class="container">
                    <div class="row">
                        <div class="subscribe-content bg-dark d-flex flex-wrap justify-content-center align-items-center padding-medium">
                            <div class="col-md-6 col-sm-12">
                                <div class="display-header pe-3">
                                    <h2 class="display-7 text-uppercase text-light">Đăng ký cho chúng tôi ngay</h2>
                                    <p>
                                        Nhận tin tức mới nhất, cập nhật và giao dịch được gửi trực tiếp đến hộp thư đến của bạn.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12">
                                <form class="subscription-form validate">
                                    <div class="input-group flex-wrap">
                                        <input class="form-control btn-rounded-none" type="email" name="EMAIL" placeholder="Địa chỉ email của bạn ở đây" required="">
                                        <button class="btn btn-medium btn-primary text-uppercase btn-rounded-none" type="submit" name="subscribe">Đăng ký</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <footer id="footer" class="overflow-hidden">
                <div class="container">
                    <div class="row">
                        <div class="footer-top-area">
                            <div class="row d-flex flex-wrap justify-content-between">
                                <div class="col-lg-3 col-sm-6 pb-3">
                                    <div class="footer-menu">
                                        <img src="/images/main-logo.png" class="logo" alt="chua">
                                        <p> Chúng tôi tin rằng bạn sẽ yêu thích điện thoại này ngay từ lần đầu tiên bạn cầm nó vào tay. Hãy đến cửa hàng của chúng tôi để trải nghiệm sản phẩm này và cùng chúng tôi khám phá thế giới công nghệ mới mẻ!
                                        </p>
                                        <div class="social-links">
                                            <ul class="d-flex list-unstyled">
                                                <li>
                                                    <a href="#">
                                                        <svg class="facebook">
                                                    <use xlink:href="#facebook" />
                                                </svg>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg class="instagram">
                                                    <use xlink:href="#instagram" />
                                                </svg>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg class="twitter">
                                                    <use xlink:href="#twitter" />
                                                </svg>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg class="linkedin">
                                                    <use xlink:href="#linkedin" />
                                                </svg>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <svg class="youtube">
                                                    <use xlink:href="#youtube" />
                                                </svg>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6 pb-3">
                                    <div class="footer-menu text-uppercase">
                                        <h5 class="widget-title pb-2">Đường dẫn nhanh</h5>
                                        <ul class="menu-list list-unstyled text-uppercase">
                                            <li class="menu-item pb-2">
                                                <a href="#">Trang Chủ</a>
                                            </li>
                                            <li class="menu-item pb-2">
                                                <a href="#">Thông Tin</a>
                                            </li>
                                            <li class="menu-item pb-2">
                                                <a href="#">Cửa hàng</a>
                                            </li>
                                            <li class="menu-item pb-2">
                                                <a href="#">Blogs</a>
                                            </li>
                                            <li class="menu-item pb-2">
                                                <a href="#">Liên Hệ</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 pb-3">
                                    <div class="footer-menu text-uppercase">
                                        <h5 class="widget-title pb-2">Trợ giúp & Thông tin Trợ giúp</h5>
                                        <ul class="menu-list list-unstyled">
                                            <li class="menu-item pb-2">
                                                <a href="#">Theo dõi đơn hàng của bạn</a>
                                            </li>
                                            <li class="menu-item pb-2">
                                                <a href="#">Chính sách hoàn trả</a>
                                            </li>
                                            <li class="menu-item pb-2">
                                                <a href="#">Liên hệ chúng tôi</a>
                                            </li>
                                            <li class="menu-item pb-2">
                                                <a href="#">Câu hỏi thường gặp</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6 pb-3">
                                    <div class="footer-menu contact-item">
                                        <h5 class="widget-title text-uppercase pb-2">Liên hệ chúng tôi</h5>
                                        <p>Bạn có bất kỳ thắc mắc hoặc gợi ý nào không?<a href="mailto:">baominhstore354@gmail.com</a>
                                        </p>
                                        <p>Nếu bạn cần hỗ trợ? Hãy gọi cho chúng tôi. <a href="">+0816 354 354</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </footer>
            <div id="footer-bottom">
                <div class="container">
                    <div class="row d-flex flex-wrap justify-content-between">
                        <div class="col-md-4 col-sm-6">
                            <div class="Shipping d-flex">
                                <p>Chúng tôi giao với:</p>
                                <div class="card-wrap ps-2">
                                    <img src="/images/dhl.png" alt="visa">
                                    <img src="/images/shippingcard.png" alt="mastercard">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="payment-method d-flex">
                                <p>Các phương thức thanh toán:</p>
                                <div class="card-wrap ps-2">
                                    <img src="/images/visa.jpg" alt="visa">
                                    <img src="/images/mastercard.jpg" alt="mastercard">
                                    <img src="/images/paypal.jpg" alt="paypal">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="copyright">
                                <p>© Copyright 2023 Bảo Minh Store
                                    <a href="https://templatesjungle.com/"></a>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/js/jquery-1.11.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
            <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
            <script type="text/javascript" src="/js/plugins.js"></script>
            <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>