<%- include('../include/header.ejs') %>
    <div class="container">
        <h2><a href="/"><img style="width: 35px;" src="https://cdn-icons-png.flaticon.com/512/25/25694.png"></a> Sửa
        linh kiện</h2>

        <form action="/putlinhkien/<%= id%>" method="post" >
            <form class="px-4 py-3">

                <br>
                <label class="form-label">Tên linh kiện</label>
                <input type="text" name="name" class="form-control" value="<%= linhkien.name%>"><br>

                <label class="form-label">Giá</label>
                <input type="text" name="price" class="form-control" value="<%= linhkien.price%>"><br>

                <button class="btn btn-danger" type="submit">Lưu</button>
            </form>
        </form>

    </div>