<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vui chơi có thưởng</title>
		<link rel="stylesheet" href="https://www.baominhmobile.com/css/gift.css" />
	</head>
	<body>
       
       
		<main>
            
            <h1 class="lll">VÒNG QUAY MAY MẮN</h1>
           
			<section class="main">
				<span>
					<ul class="wheel"></ul>
				</span>
				<button class="btn--wheel">Quay thưởng</button>
			</section>
			<h1 class="msg"></h1>
		</main>
		<script src="https://www.baominhmobile.com/js/gift.js"></script>
	</body>
</html>